.slide {
    overflow: hidden;
    .inner {
        max-width: $page-size;
        margin: 0 auto;
        padding: $slide-top-padding-mobile $mobile-side-space;
    }
}

// Responsive ------------------------------------------------------------------
@media all and (min-width: 420px) {
// Tablet & Up
.slide {
    .inner {
        padding: $slide-top-padding $desktop-side-space;
    }
}
// End Tablet & Up
}

@media all and (min-width: 800px) {
// Desktop & Up

}